[Unit]
Description=Bitlair Spacestate
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=2s
ExecStart=/opt/spacestate/spacestated
User=spacenotifier
Group=spacenotifier

[Install]
WantedBy=multi-user.target
